html {
  scroll-behavior: smooth;
}

body {
  background-color: #000000
}

h1,
h2 {
  color: #000000
}

.top-logo {
  height: auto;
  font-weight: bolder;
  color: white;
  font-size: 55px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #000000
  font-family: font-family: "Orbitron", sans-serif;
  font-family: "Orbitron", sans-serif;
}


.material-symbols-outlined, .material-symbols-outlined a {
font-size: 60px;
color:white;
position: relative;
top:0px;
text-decoration: none;
}

/*NAVBAR CODE*/

.menu-hover-lines {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.35s ease;
  /* Change display to inline-block */
  display: inline-block;
  /* Remove default list styles */
  padding: 0;
  margin: 0;
}

.menu-hover-lines li {
  display: inline-block; /* Display list items horizontally */
}

.menu-hover-lines li a {
  padding: 0.75rem 1rem; /* Adjust padding as needed */
  color: white;
  position: relative;
  margin-left: 1rem;
  /* Add padding between words */
  letter-spacing: 5px; /* Adjust as needed */
}


.menu-hover-lines li:first-child a {
  margin-left: 0;
}

.menu-hover-lines li.active > a {
  background-color: transparent;
}

.menu-hover-lines a:before,
.menu-hover-lines a::after {
  height: 3px;
  position: absolute;
  content: '';
  transition: all 0.35s ease;
  background-color: #1779ba;
  width: 0;
}

.menu-hover-lines a::before {
  top: 0;
  left: 0;
}

.menu-hover-lines a::after {
  bottom: 0;
  right: 0;
}

.menu-hover-lines a:hover,
.menu-hover-lines li.active > a {
  color: white;
  transition: all 0.35s ease;
}

.menu-hover-lines a:hover::before,
.menu-hover-lines .active a::before,
.menu-hover-lines a:hover::after,
.menu-hover-lines .active a::after {
  width: 100%;
}

.menu-hover-lines li {
  margin-right: 70px; /* Adjust spacing between words */
}


/*NAVBAR CODE ENDS*/


/*Footer Code*/

.footer-row{
  background-color: #000000
  padding-top: 35px;
  padding-bottom: 35px;
}
.footer-row a{
  color:white;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.fa-social-media,
 .fa-social-media:hover {
  font-size:25px !important;
  padding-left: 12px;
  padding-right: 12px;

}

/*Footer Code end*/


/* ADD THE CLASS .custom-toggler TO THE HAMBURGUER MENU*/
/*under main.css added*/

/* Set the border color */
.custom-toggler.navbar-toggler {
  border-color: #ffffff;
}

/*remove outline when hamburguer menu icon is clicked*/
.custom-toggler:focus,
.custom-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

/* Setting the stroke to green using rgb values (0, 128, 0) */
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
/* ADD THE CLASS .custom-toggler TO THE HAMBURGUER MENU*/


/*BOTTOM STYLES*/



/* Footer Container */
.marketing-site-footer {
  background: #2c3840;
  color: #8aa0ae;
  padding: 2rem 0;
}

/* Footer Links */
.marketing-site-footer .marketing-site-footer-menu-social a {
  color: #fefefe;
}

/* Footer Blocks */
.marketing-site-footer .marketing-site-footer-block {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

/* Footer Icons */
.marketing-site-footer-block .fa {
  font-size: 2rem;
  color: #020304;
}

/* Footer Text */
.marketing-site-footer-block p {
  margin-left: 1rem;
  line-height: 1.125rem;
}

/* Footer Name and Title */
.marketing-site-footer-name,
.marketing-site-footer-title {
  color: #fefefe;
  margin-bottom: 1rem;
}

.marketing-site-footer-name {
  font-size: 2rem;
}

.marketing-site-footer-title {
  font-size: 1.25rem;
}

/* Footer Bottom */
.marketing-site-footer-bottom {
  background: #020304;
  padding: 1rem 0;
}

/* Footer Bottom Links */
.marketing-site-footer-bottom .marketing-site-footer-bottom-links {
  display: flex;
  justify-content: flex-end;
}

.marketing-site-footer-bottom .marketing-site-footer-bottom-links a {
  color: #8aa0ae;
}

/* Media Queries */
@media screen and (max-width: 63.9375em) {
  .marketing-site-footer .columns {
    margin-bottom: 2rem;
  }
  
  .marketing-site-footer-bottom .marketing-site-footer-bottom-links {
    justify-content: center;
  }
  
  .marketing-site-footer-bottom {
    text-align: center;
  }
}


/*BOTTOM Styles end*/
