html {
  scroll-behavior: smooth;
}

body {
  background-color: #000000
}

h1,
h2 {
  color: #000000
}

.top-logo {
  height: auto;
  font-weight: bolder;
  color: white;
  font-size: 55px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #000000;
  font-family: "Orbitron", sans-serif; /* Combine font-family declaration */
}



.material-symbols-outlined, .material-symbols-outlined a {
font-size: 60px;
color:white;
position: relative;
top:0px;
text-decoration: none;
}

/*NAVBAR CODE*/

.menu-hover-lines {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.35s ease;
  /* Remove display property */
  /* display: inline-block; */
  /* Remove default list styles */
  padding: 0;
  margin: 0;
}

.menu-hover-lines {
  margin-bottom: 20px; /* Adjust the value as needed */
}

.menu-hover-lines li {
  display: inline-block; /* Display list items horizontally */
  margin-right: 70px; /* Adjust spacing between words */
}

.menu-hover-lines li:last-child {
  margin-right: 0; /* Remove margin from the last menu item */
}

.menu-hover-lines li a {
  padding: 0.75rem 1rem; /* Adjust padding as needed */
  color: white;
  position: relative;
  /* Remove margin-left property */
  /* margin-left: 1rem; */
  /* Add padding between words */
  letter-spacing: 5px; /* Adjust as needed */
}

.menu-hover-lines li:first-child a {
  margin-left: 0;
}

.menu-hover-lines li.active > a {
  background-color: transparent;
}

.menu-hover-lines a:before,
.menu-hover-lines a::after {
  height: 3px;
  position: absolute;
  content: '';
  transition: all 0.35s ease;
  background-color: #1779ba;
  width: 0;
}

.menu-hover-lines a::before {
  top: 0;
  left: 0;
}

.menu-hover-lines a::after {
  bottom: 0;
  right: 0;
}

.menu-hover-lines a:hover,
.menu-hover-lines li.active > a {
  color: white;
  transition: all 0.35s ease;
}

.menu-hover-lines a:hover::before,
.menu-hover-lines .active a::before,
.menu-hover-lines a:hover::after,
.menu-hover-lines .active a::after {
  width: 100%;
}



/*NAVBAR CODE ENDS*/


/*Footer Code*/

.footer-row{
  background-color: #000000;
  padding-top: 35px;
  padding-bottom: 35px;
}
.footer-row a{
  color:white;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.fa-social-media,
 .fa-social-media:hover {
  font-size:25px !important;
  padding-left: 12px;
  padding-right: 12px;

}

/*Footer Code end*/


/* ADD THE CLASS .custom-toggler TO THE HAMBURGUER MENU*/
/*under main.css added*/

/* Set the border color */
.custom-toggler.navbar-toggler {
  border-color: #ffffff;
}

/*remove outline when hamburguer menu icon is clicked*/
.custom-toggler:focus,
.custom-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

/* Setting the stroke to green using rgb values (0, 128, 0) */
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
/* ADD THE CLASS .custom-toggler TO THE HAMBURGUER MENU*/


/*SOCIAL MEDIA ICON STYLES*/
.rounded-social-buttons {
  text-align: center;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

/* Rotate only the icon on hover */
.rounded-social-buttons .social-button:hover .fa:before, 
.rounded-social-buttons .social-button:focus .fa:before {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

/* Ensure consistent spacing between icons */
.rounded-social-buttons .social-button + .social-button {
  margin-left: 0.5rem;
}

/* Adjust margin between rows if needed */
.rounded-social-buttons {
  margin-top: 1rem; /* Adjust as needed */
}



/*Social Media Icons end*/